* text=auto

*.js text eol=lf
*.jsx text eol=lf
*.cjs text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.gif binary
*.jpg binary
*.jpeg binary
*.ico binary
*.icns binary
*.ttf binary
